node_modules/

.env

server/db/roleCombinations.js
server/db/artifact-db.json
server/db/artifact-stat-db.json
server/db/stat-db.json
server/db/skill-db.json
server/db/hero-role-db.json
server/db/hero-db.json

.DS_Store