:root {
    --black-denim-color: #191c27;
    --white-color: #fff;
    --gold-color: #c28f2c;
    --gold-color-v2: #c8aa6e;
  }

body{
    color: var(--gold-color);
}

.fs-20{
    font-size: 2.8rem;
    font-weight: 500;
}

section{
    margin-bottom: 30px;
}

section h2{
    font-size: 3rem;
}

section .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

section .list .list-item{
    margin-bottom: 25px;
}

section .list .list-item img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
}

input{
    display: block;
    font-size: 1.6rem;
    background-color: var(--black-denim-color);
    color: var(--gold-color);
    border: 0;
    padding: 5px 20px;
    outline: none;
    width: 120px;
    
}

.universal-speed{
    margin-top: 100px;
}

.form-group{
    width: 50%;
}

img{
    width: 100%;
}

.total-container{
    display: flex;
    justify-content: center;
}

.total{
    font-size: 2rem;
}