:root {
    --black-denim-color: #191c27;
    --white-color: #fff;
    --gold-color: #c28f2c;
    --gold-color-v2: #c8aa6e;
  }

body{
    color: var(--gold-color);
}

section{
    margin-bottom: 30px;
}

section .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section .list .list-item {
    width: auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.universal-speed{
    margin-top: 100px;
}

.form-group{
    width: 50%;
}

img{
    width: 100%;
}

