:root {
  --black-denim-color: #191c27;
  --white-color: #fff;
  --gold-color: #c28f2c;
  --gold-color-v2: #c8aa6e;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--black-denim-color);
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

/* LINKS */
.link {
  text-decoration: none;
  font-weight: 600;
  color: var(--white-color);
}

.link:visited {
  color: var(--white-color);
}

/* ICONS */
.icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.5;
}

.icon-container:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2);
}

.icon {
  color: var(--white-color);
  font-size: 3rem;
}

/* LIST */
.list {
  margin: 0;
  padding: 0;
  color: #fff;
}

.list-item {
  list-style: none;
}

/* BUTTONS */
.btn {
  background-color: unset;
  border: none;
}

/* LOGO */
.logo-container {
  width: 90px;
  height: 90px;
}

.logo {
  width: 100%;
}

.logo span:nth-child(5n + 1) {
  color: #00405b;
}

.logo span:nth-child(5n + 2) {
  color: #584f8d;
}

.logo span:nth-child(5n + 3) {
  color: #bc4f90;
}

.logo span:nth-child(5n + 4) {
  color: #ff6360;
}

.logo span:nth-child(5n + 5) {
  color: #ffa600;
}

/* NAV */
header{
  display: flex;
  justify-content: center;
  width: 100%;
}
nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--black-denim-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav .menu-toggle {
  margin-right: 5px;
}

.menu {
  background-color: var(--black-denim-color);
  position: absolute;
  top: 0;
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .list {
  width: 100%;
  padding: 0 10px;
}

.menu .list-item {
  width: 100%;
  padding: 10px 0;
  padding-left: 15px;
  margin-bottom: 10px;
}

.menu .list-item .link {
  font-size: 1.6rem;
  text-align: center;
}

.menu .list .list-item:hover {
  background-color: #333;
  border-radius: 10px;
  cursor: pointer;
  .link {
    color: var(--gold-color-v2);
  }
}

@media screen and (min-width: 1024px) {
  nav{
    max-width: 1500px;
  }
  .menu-header,
  #menu-toggle-open-btn {
    display: none;
  }

  .menu {
    position: static;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: none;
    height: auto;
    width: 90%;
  }

  .menu .list {
    display: flex;
    width: auto;
  }

  .menu .list-item {
    margin-right: 30px;
    padding: 10px 15px;
    margin-bottom: 0;
    width: auto;
  }

  .menu .list-item:last-child {
    margin: 0;
  }
}

/* SECTION */
section{
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

section h3{
  font-size: 2.4rem;
}

/* VIDEO */
.main-head {
  margin-top: 90px;
  position: relative;
}

.main-head video{
  width: 100%;
  max-height: 800px;
}

.main-head div {
  width: 100%;
  max-height: 600px;
}

.main-head__img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-head img {
  position: absolute;
  bottom: 10px;
  width: 70%;
  max-width: 800px;
  height: 100%;
  z-index: 1;
}

/* FEATURED NEWS */
.featured-news{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
}

.featured-news .list .list-item a{
  width: 100%;
}

.featured-news .list .list-item{
  margin-bottom: 30px;
}

.featured-news .list .list-item:last-child{
  margin: 0;
}

.featured-news__img-container{
  margin-bottom: 20px;
  overflow: hidden;
}

.featured-news__img-container img{
  width: 100%;
  transition: transform 0.3s ease;
}

.featured-news .list .list-item:hover{
  cursor: pointer;
  border: 1px solid var(--gold-color);
  img{
    transform: scale(1.2);
  }
}

.featured-news__content-container{
  padding: 10px;
  padding-top: 0;
}

.featured-news__content-header{
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.featured-news__content-category{
  color: rgb(200, 170, 110);
}

.featured-news__content-main h4{
  font-size: 1.6rem;
}

.featured-news__content-main p{
  font-size: 1.4rem;
}

@media screen and (min-width: 768px){
  .featured-news .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .featured-news .list .list-item{
    width: 40%;
    /* margin: 0; */
  }
}

@media screen and (min-width: 1024px){
  .featured-news .list .list-item{
    width: 22%;
    margin: 0;
  }
}

/* HEROES */
.new-heroes{
  color: var(--white-color);
  padding: 0 10px;
}

.wrapper {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size:  500px 400px;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .slide-icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  font-size: 2rem;
  color: var(--gold-color);
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description h4 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--gold-color);
  background-color: var(--black-denim-color);
  text-align: center;
  width: 300px;
  padding: 10px 0;
  border-radius: 10px;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url('../images/skogul-goresh-bg.jpg');
}
.card[for="c2"] {
  background-image: url('../images/theodore-forondil-bg.jpg');
}
.card[for="c3"] {
  background-image: url('../images/bartrand-tohar-bg.png');
}
.card[for="c4"] {
  background-image: url('../images/maggrat-zayda-bg.webp');
}

@media screen and (min-width: 1024px){
  .container{
    overflow: unset;
  }

  .card{
    background-size: cover;
  }
}