:root {
  --black-denim-color: #191c27;
  --white-color: #fff;
  --gold-color: #c28f2c;
  --gold-color-v2: #c8aa6e;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--black-denim-color);
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

/* LINKS */
.link {
  text-decoration: none;
  font-weight: 600;
  color: var(--white-color);
}

.link:visited {
  color: var(--white-color);
}

/* ICONS */
.icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.5;
}

.icon-container:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2);
}

.icon {
  color: var(--white-color);
  font-size: 3rem;
}

/* LIST */
.list {
  margin: 0;
  padding: 0;
  color: #fff;
}

.list-item {
  list-style: none;
}

/* BUTTONS */
.btn {
  background-color: unset;
  border: none;
}

/* LOGO */
.logo-container {
  width: 90px;
  height: 90px;
}

.logo {
  width: 100%;
}

.logo span:nth-child(5n + 1) {
  color: #00405b;
}

.logo span:nth-child(5n + 2) {
  color: #584f8d;
}

.logo span:nth-child(5n + 3) {
  color: #bc4f90;
}

.logo span:nth-child(5n + 4) {
  color: #ff6360;
}

.logo span:nth-child(5n + 5) {
  color: #ffa600;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav .menu-toggle {
  margin-right: 5px;
}

.menu {
  background-color: var(--black-denim-color);
  position: absolute;
  top: 0;
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .list {
  width: 100%;
  padding: 0 10px;
}

.menu .list-item {
  width: 100%;
  padding: 10px 0;
  padding-left: 15px;
  margin-bottom: 10px;
}

.menu .list-item .link {
  font-size: 1.6rem;
  text-align: center;
}

.menu .list .list-item:hover {
  background-color: #333;
  border-radius: 10px;
  cursor: pointer;
  .link {
    color: var(--gold-color-v2);
  }
}

@media screen and (min-width: 1024px) {
  nav{
    max-width: 1300px;
  }
  .menu-header,
  #menu-toggle-open-btn {
    display: none;
  }

  .menu {
    position: static;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: none;
    height: auto;
    width: 90%;
  }

  .menu .list {
    display: flex;
    width: auto;
  }

  .menu .list-item {
    margin-right: 30px;
    padding: 10px 15px;
    margin-bottom: 0;
    width: auto;
  }

  .menu .list-item:last-child {
    margin: 0;
  }
}

/* SECTION */
section{
  max-width: 1300px;
  margin: 0 auto;
}

/* VIDEO */
.main-head {
  position: relative;
}

.main-head video{
  width: 100%;
  max-height: 800px;
}

.main-head div {
  width: 100%;
  max-height: 600px;
}

.main-head__img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-head img {
  position: absolute;
  bottom: 30px;
  min-width: 180px;
  width: 90px;
  height: 100px;
  z-index: 1;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px){
  .main-head img {
    width: 210px;
    height: 200px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1024px){
  .main-head img{
    width: 320px;
    height: 300px;
    bottom: 100px;
  }
}